extends template

block content
    #navbar
      #nba 
        a(href='/home')
          span Satsuma 
            img(src="https://cdn2.bigcommerce.com/server4800/6e2ef/product_images/uploaded_images/satsuma.png?t=1429030694" width="50" height="50")
      #nb-items
        a(href='/homepage' onClick='logout()')
          span logout
      #nb-items 
        a(href='/update')
          span Update
      #nb-items 
        a(href='/profiles')
          span Profile
    
    form
      br
      br
      table#keywords(style="width:80%" align="center" cellspacing="0" cellpadding="0")
        thead
          each profile in JSON.parse(profiles)
            th#name= profile.name
            //- th#pic Picture
            //- th#desc Description
            //- th#price Ratings 
            //- th#quan Class Year
            //- th Add Friend
        tbody
          each profile in JSON.parse(profiles)
            td
              img(src=profile.picture width="200" height="200")
        tbody
          each profile in JSON.parse(profiles)
            td="Description: " + profile.description
        tbody
          each profile in JSON.parse(profiles)
            td="Ratings: " + profile.ratings
        tbody
          each profile in JSON.parse(profiles)
            td="Class Year: " + profile.classYear
        tbody
          each profile in JSON.parse(profiles)
            td 
              button#sub(class='button' onclick='addFriends()') Add Friend
        
      
            
            
            
            //- td
            //-   .fb-item
            //-     span Quantity
            //-     br
            //-     input(type='number' name='quantity' placeholder='add amount')  
              
